@font-face {
	font-family: "icon-font";
	src: url('../fonts/icon-font.eot');
	src: url('../fonts/icon-font.eot?#iefix') format('eot'), url('../fonts/icon-font.woff') format('woff'), url('../fonts/icon-font.ttf') format('truetype'), url('../fonts/icon-font.svg#icon-font') format('svg');
}
#logo{
	width:130px; height:45px;
}
#webhead{ font-size:25px; text-align: center;font-family: monotype corsiva,"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";margin-left: 40px;word-spacing: 0px;letter-spacing: 1px; }





.icon-menu-close:before,
.icon-menu:before,
.icon-mobile:before,
.icon-submenu-down:before,
.icon-submenu-right:before,
.icon-world:before,
header h1:before,
.nav1-button:before,
.nav1-close:before,
.nav1 .nav1-submenu > a:after,
.nav1 > ul > .nav1-submenu > a:after {
	font-family: "icon-font";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
	vertical-align: top;
}



.icon-menu-close:before {
	content: "\E002";
}

.icon-menu:before {
	content: "\E003";
}

.icon-mobile:before {
	content: "\E004";
}

.icon-submenu-down:before {
	content: "\E005";
}

.icon-submenu-right:before {
	content: "\E006";
}

.icon-world:before {
	content: "\E007";
}

body {
	padding-top: 4.4rem;
}

header {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 901;
	padding-left: 10px;
	line-height: 4.4rem;
	background: #008c7e;
	color: #fff;
	height: 50px;
	padding-bottom: 20px;



}

header h1 {
	margin: 0;
	font-size: 2.7rem;
	line-height: 4.4rem;
}

header h1:before {

	margin-right: 8px;
}

.nav1-button,
.nav1-close {
	position: fixed;
	top: 0;
	width: 4.4rem;
	height: 4.4rem;
	overflow: hidden;
	z-index: 902;
	cursor: pointer;
	text-decoration: none;
	line-height: 4.4rem;
	background: #13bca4;
	color: #fff;
}

.nav1-button:before,
.nav1-close:before {
	display: block;
	text-align: center;
}

.nav1-button {
	display: block;
	right: 1rem;
	font-size: 2.7rem;
}

.nav1-button:before {
	content: "\E003";
}

.nav1-close {
	display: none;
	right: 4rem;
	font-size: 1.9rem;
}

.nav1-close:before {
	content: "\E002";
}

.nav1 {

	padding-top: 4.4rem;
	line-height: 4.4rem;
	background: #13bca4;

}



.nav1 ul {
	border-radius: 0 0 6px 6px;
	background: #008c7e;

}

.nav1 ul ul {
	background: #008c7e;
}

.nav1 ul ul ul {
	background: #008c7e;
}

.nav1 ul ul ul ul {
	background: #008c7e;
}

.nav1 ul ul ul ul ul {
	background: #008c7e;
}

.nav1 li {
	border-top: 1px solid #59544F;
	cursor: pointer;
}

.nav1 li:hover > a,
.nav1 li.nav1-active > a {
	color: #fff;
	background: #13bca4;
}

.nav1 .nav1-submenu > ul {
	margin-left: 10px;
}

.nav1 .nav1-submenu > a {
	padding-right: 30px !important;
}

.nav1 a,
.nav1 a:hover,
.nav1 a:active,
.nav1 a:visited {
	border-radius: 6px;
	padding: 0 15px 1px;
	color: #fff;
	text-decoration: none;
}

.nav1 .nav1-submenu > a:after {
	position: absolute;
	display: block;
	right: 10px;
	top: 1px;
	content: "\E005";
}

/* background image designe and css for them for the mobile size */

#bgdiv {

	/* background-color: red;
	margin-top: 15px;
	margin-left: 5px;
	margin-right: 5px;
	width: 200px;
	height: 200px;
	border: 2px solid #2138EF;
	border-radius: 15px;

	-webkit-box-shadow: 0px 0px 8px 1px #3634ED;
	box-shadow: 0px 0px 8px 1px #3634ED; */
}

.headbox {

	background-image: url(../../pic/Peshawar_University.jpg);
	width: 100%;
	height: 350px;
	background-position: center;
	background-size: cover;

	border-radius: 8px;
	margin-top: -10px;


	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
/* background css ended  */








/*screen resulation for the desktop and loptop size */


@media only screen and (min-width: 960px) {

#logo{
	width:140px; height:50px;
}
#webhead{ font-size: 40px; text-align: center ; font-family: monotype corsiva;word-spacing: 10px;letter-spacing: 3px; }

body {
	padding: 0 !important;
}
/*css for the login system on the menu system	*/
	#log_h{
		width: auto;

		overflow: hidden;
		float: right;
		margin-right: 20px;
	}


	.log_in_f{
		width: auto;
		color:#fff;
		font-size: 15px;
		float: right;
	}
	.log_in_f input{
		width: 110px;
		border:solid #11DFBC 1px;
		border-radius: 4px;
		color: #000;

	}


	.log_in_f input:hover { background: #73F0DF;color: #000; }

	#log_in_button{
		margin-left:5px;
		width: 80px;
		background: #04C3A2;
		height: 25px;
		color: #fff;
	}
	#log_in_button:hover {
		background-color: #04EBC3;color: blueviolet}

/*css ended of the login form inside the menu*/

/* below hiden the login button for the desktop size and above view */
	#lb_for_mobile{visibility: collapse;display: none}
/* css are ended for the login button in the nav1agation menu for desktop , here
	"collapse" are actually remove the white spaces for the removed item  and
	"display:none" actually free thah white space */


header {
	position: relative;
}



.nav1-button {
	display: none;
}

.nav1 {
	padding: 0 !important;


}
	#menu_ul{
		padding-left: 60px;


	}


.nav1 > ul > li {
	border-top: none;
	padding-left: 8px;  /* this well move the menu from left*/
}

.nav1 li > ul {
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.nav1 ul ul ul {
	border-radius: 0 6px 6px 6px;

}

.nav1 ul ul ul li:first-child {
	border-top: none;
}

.nav1 .nav1-left > ul {
	border-radius: 6px 0 6px 6px;
}

.nav1 .nav1-submenu li {
	min-width: 150px;
}

.nav1 .nav1-submenu > ul {
	margin-left: 20px;
}

.nav1 > ul > .nav1-submenu > a:after {
	content: "\E005";
}

.nav1 .nav1-submenu > a:after {
	content: "\E006";
}

.bgdiv {
	width: auto;
	height: 500px;
	border: 2px solid #2138EF;
	border-radius: 20px;
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 5px;
	-webkit-box-shadow: 0px 0px 17px 2px #3634ED;
	box-shadow: 0px 0px 17px 2px #3634ED;
}

.headbox {
	background-image: url(../../pic/Peshawar_University.jpg);
	width: 100%;
	height: 498px;
	background-position: center center;
	background-size: cover;
	border-radius: 20px;
	margin-top: -24px;


	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

/*background for tranparent form display*/
	 .msg{
		 position: absolute;
		margin-top: 62ex;
		 left: 50%;
		 transform: translate(-50%,-50%);
		 width: 100%;
		 height: auto;
		 box-sizing: border-box;
		 background: red;
		 padding: 10px;  /*it inside increase the padding */
		border-radius: 20px;
	 }






}


/*this media query are use for the menu log in input are hideen from the mobile size menu */
@media(max-width:959px){ #log_h{ visibility:collapse; display: none !important}  }
