
#top-header{
	background: #008C7E;
	padding-top: 6px;
	padding-bottom: 5px;

}
.logo{
	width: 150px;
	height: 60px;
  padding-left: 10px;
}
/* main head of form */
#f-head{ margin-top: 15px; }

/*legale for the inpute */
#l1 {color: #fff;margin-right: 5px;}
#l2{color: #fff;margin-right: 5px; }

/*inputs for email and password  */
#inp {border:solid 2px #fff;border-radius: 15px; padding-left: 10px;}
#inp :hover{ }

/*buttons -> login and create account button */
#logb{
  border:solid 2px #13bca4;
  background: #fff;
  margin-left: 10px;height: 35px;
  color: #13bca4;
  border-radius: 10px;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.ac{
  border:solid 2px #13bca4;
  background: #fff;
  margin-left: 10px;height: 35px;
  color: #13bca4;
  border-radius: 10px;
  word-spacing: 2px;
  letter-spacing: 1px;
}
#logb:hover{
  background: #13bca4;
  color: #fff;
}
.ac:hover{
  background: #13bca4;
  color: #fff;
}

*/  css for the menu   */

/* main div for the menu */
#mm {     }
#dl-menu { }

/* css for to remove the below line from the menu item  */
#menu a { }


/*responsive ness the menu */
@media ( max-width:800px)  {     #top-header{ height: 70px;}             #f-head{visibility: hidden;     }  }

@media (min-width:800px) and (max-width: 850px){
/*inputs for email and password  */
#inp {border:solid 2px #fff;  border-radius: 15px;   padding-left: 10px; width: 130px;}
}


@media (min-width:850px) and (max-width: 900px){
#f-head{ margin-left: 50px;}
/*inputs for email and password  */
#inp {border:solid 2px #fff;  border-radius: 15px;   padding-left: 10px; width: 130px;}
}

@media (min-width:900px) and (max-width:950px){  #f-head{margin-left: 0px;} }
@media (min-width:950px) and (max-width:1000px){#f-head{margin-left: 40px;}}
@media (min-width:950px) and (max-width:1000px){#f-head{margin-left: 42px;} }
@media (min-width:1050px) and (max-width:1100px){#f-head{margin-left: 120px;} }
@media (min-width:1050px) and (max-width:1100px){#f-head{margin-left: 120px;} }
@media (min-width:1100px) and (max-width:1200px){#f-head{margin-left: 160px;} }
@media (min-width:1200px) and (max-width:1300px){#f-head{margin-left: 240px;} }
@media (min-width:1300px) and (max-width:1350px){#f-head{margin-left: 320px;} }
@media (min-width:1350px) and (max-width:1360px){#f-head{margin-left: 350px;} }
@media(min-width:1360px){ #f-head{ margin-left: 380px;}}
